node_modules

/dev.db
**/(admin)
/prisma
# Output
.output
.vercel
/.svelte-kit
/build
**/prisma.ts

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
